<!DOCTYPE html>
<html>
<head>
    <title>Operator</title>
    <script src="javascripts/SelectWithCustomInput.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="">
<%- include('partials/header')%>

<div class="">
    
    <form class="" method="post" action="/edit/update">

        <input type="hidden" name="id" value="<%=character.id%>">
        <div class="">
            <input id="characterId" class="" value="<%=character.id%>" disabled>
            <label for="characterId">Id:</label>
        </div>

        <div class="">
            <input id="name" name="name" class="" value="<%=character.name%>">
            <label for="name">Name:</label>
        </div>

        <div class="">
            <select id="rarity" name="rarity" class="">
                <option value="<%=character.rarity%>" selected hidden> <%=character.rarityDesc%></option>
                <option value="6">Six star</option>
                <option value="5">Five star</option>
                <option value="4">Four star</option>
                <option value="3">Three star</option>
                <option value="2">Two star</option>
                <option value="1">One star</option>
            </select>
            <label for="rarity">Character rarity:</label>
        </div>

        <div class="">
                <select id="type" name="type"class="">
                    <option value="<%=character.type%>" selected hidden><%=character.type%></option>
                    <option value="Sniper">Sniper</option>
                    <option value="Defender">Defender</option>
                    <option value="Caster">Caster</option>
                    <option value="Guard">Guard</option>
                    <option value="Medic">Medic</option>
                    <option value="Specialist">Specialist</option>
                    <option value="Supporter">Supporter</option>
                    <option value="Vanguard">Vanguard</option>
                </select>
                <label for="type">characterType:</label>
        </div>

        <div class="">
            <button class="" type="submit" formaction="/edit/update">Save</button>
            <button class="" type="submit" formaction="/edit/delete">Delete</button>
        </div>

    </form>
    
</div>

</body>
</html>